<section class="hero is-dark is-bold ">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger"  [ngClass]="{'is-active': isActive}" data-target="navbarMenuHeroB" (click)="isActive = !isActive">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB " class="navbar-menu" [ngClass]="{'is-active': isActive}">
          <div class="navbar-end">
            <a class="navbar-item " [routerLink]="['/home']" routerLinkActive="is-active">
              Home
            </a>
            <a class="navbar-item" [routerLink]="['/tasks']" routerLinkActive="is-active">
              Tasks
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted" [routerLink]="['/login']">
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

