<section class="hero is-dark is-bold ">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB " class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" routerLink="/home">
              Home
            </a>
            <a class="navbar-item">
              Tasks
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted" routerLink="/login">
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

