.snackbar-wrap {
    position: fixed;
    bottom: 20px;
    left: 50%;
    min-width: 40%;
    max-width: 40%;
    z-index: 100;
    transform-origin: center center;
    transform: translate(-50%, 0%);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}