<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-left">
      <h1 class="title">
        Welcome to the task management :)
      </h1>
      <h2 class="subtitle">
        Let's go create new Todo
      </h2>
      <a class="button is-primary is-rounded" [routerLink]="['/tasks']" >To tasks</a>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Task management</strong> by
      <a href="https://github.com/yurakhomitsky">Yura Khomitskyi</a>.
    </p>
  </div>
</footer>
