

<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container ">
        <div class="columns">
            <div class="column is-full">
              <div class="columns is-centered is-vcentered">
                  <div class="column is-full has-text-centered">
                      <p class="is-size-5 py-3 has-text-weight-medium ">Get things done</p>
                      <button class="button is-primary is-rounded" (click)="createTask()">New task</button>
                  </div>
              </div>
            </div>
          </div>
        <div class="columns is-centered is-vcentered is-mobile">
          <div #entry class="column is-two-thirds">
            <ng-container *ngIf="(findAll() | async).length > 0; else noTasks">
              <app-task-list
              (changeStatus)="onChangeStatus($event)" 
              (editedTask)="onEditTask($event)"
              (removedTask)="onRemovedTask($event)"
               *ngFor="let task of findAll() | async" [task]="task">
                <app-task-edit></app-task-edit>
              </app-task-list>
            </ng-container>
            <ng-template #noTasks>

                <p class="is-size-4 has-text-centered">You haven't created any tasks yet.</p>

              
            </ng-template>
            
          </div>
        </div>
      </div>
    </div>
</div>
